<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Start Page</h1>
    <a href="/read">Read</a>
    <a href="/error">Error</a>
    <a href="/crash">Crash</a>
    <a href="/timer">Timer</a>
    <a href="/grequests">Grequests</a>

    <button onclick="sendAjax()">Send</button>
    <script src="/static/script.js"></script>
</body>
</html>